body {
    background-color: #d4d0d0;
}

a {
    text-decoration: none;
}

.container {
    width: 1170px;
    margin: 0 auto;
    padding: 15px;
}

/* Navigation */

.navigation .container ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
}

.navigation .container ul li {
    display: inline-block;
    margin-right: 30px;
}

.navigation .container ul li a {
    font-weight: 700;
    color: #2e2c2c;
    transition: 0,4s;
}

.navigation .container ul li a:hover {
    color: #441212;
}

header .container {
    display: flex;
    justify-content: space-around;
}

header .container .desc h1 {
    color: #242222;
}

footer .container {
    display: flex;
    justify-content: space-around;
}

footer .container p {
    font-weight: 700;
    font-size: 24px;
}



